/* USE CSS LAYOUTS HERE */
.header {
    background-color: aqua;
}

.main {
    background-color: brown;
    height: 1500px;
}

.footer-grid {
   background-color: chartreuse;
   grid-row-start : 2;
   grid-row-end: 3;
}

.footer-flex {
    background-color: chartreuse;
    bottom: 0px;
    position: fixed;
    width: 99.5%;
}
